<aside class="row color-aside card" >
    <div class="col-12 p-2">
        <h3>Enlaces Relacionado</h3>
        <ul>
                <li><a href="https://www.facebook.com/" target="_blank">Pagina de facebook</a></li>
                <li><a href="https://gmail.com/" target="_blank">Pagina de gmail</a></li>
                <li><a href="https://twitter.com/login?lang=es" target="_blank">Pagina de Twitter</a></li>
                <li><a href="https://www.instagram.com/?hl=es-la">Siguenos en instagram</a></li>
        </ul>
        <br>
        <hr>
        <br>
        <div class="">
            <h3 class="mb-2">Guardias Medicas</h3>
            <p>Ushuaia (2901) 644523</p>
            <p>Río Grande (2964) 607965</p>
            <p>Cordoba(011) 23191444</p>
        </div>
        <hr>
        <div class="">
            <h3 class="mb-2">Guardias Clinicas</h3>
            <p>Ushuaia (2901) 611085</p>
            <p>Río Grande (2964) 602123</p>
            <p>Cordoba(011) 2418582</p>
            <br>
            <br>
        </div>
    </div>
    
</aside>
