<footer class="row mt-3 fondo-footer">
        <p class="col-12 h4 font-weight-bold text-dark mt-2 mb-2">Portal de Obra Social S.A.M.I.C.
        </p>
        <div class="col-12">
            <div class="row text-center text-md-left">
                <div class="col-12 col-md-4">
                    <h5>Contacto</h5>
                    <ul class="list-unstyled">
                        <li>(+54-11) 4122-6000</li>
                        <li>www.garrahan.gov.ar</li>
                        <li>(+54-11) 4122-2341</li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <h5>Ingreso para pacientes</h5>
                    <ul class="list-unstyled">
                        <li>Pichincha 1890, C.A.B.A.</li>
                        <li>(+54-11) 4122-2341</li>
                        <li>(+54-11) 4122-2444</li>
                        <li>República Argentina</li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <h5>Serivicios</h5>
                    <ul class="list-unstyled">
                        <li>Superintendencia de Servicios</li>
                        <li>Salud de Obras Sociales</li>
                        <li>Entidades de Medicina Prepaga</li>
                        <li>R.N.E.M.P</li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 mt-2 mt-sm-4">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a  href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square tamaño cambioColor"></i></a></li>
                    <li class="list-inline-item"><a  href="https://gmail.com/" target="_blank"><i class="fas fa-at tamaño cambioColor"></i></a></li>
                    <li class="list-inline-item"><a  href="https://twitter.com/login?lang=es" target="_blank"><i class="fab fa-twitter-square tamaño cambioColor"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
        
    <div class="col-12">
        <div class="row">
            <div class="col-12 mt-2 text-center text-dark">
                <p>Esta obra está bajo una Licencia Creative Commons Atribución – No Comercial – Sin Obra Derivada 4.0 Internacional</p>
                <p class="h6">© All right Reversed.</p>
            </div>
            <hr>
        </div>	
    </div>	     
</footer>