<div class="row justify-content-center">
    <div class="card col-12 col-md-5 m-2 fondo">
        <div class="">
            <div class="card-body">
                <h5 class="card-title h3 text-success">ASISTENCIA MÉDICA</h5>
                <p class="card-text text-center"><i class="fab fa-whatsapp verde"></i> 11.4872.9100</p>
                <p class="card-text"><i class="fas fa-phone-alt"></i> 0810.888.7788</p>
                <p class="card-text"><i class="fas fa-phone-alt"></i> 0810.999.6300</p>
            </div>
        </div>
    </div>
    <div class="card col-12 col-md-5 m-2 fondo">
        <div class="" >
            <div class="card-body">
            <h5 class="card-title h3 text-primary">ATENCIÓN AL SOCIO</h5>
            <p class="card-text text-center"><i class="fab fa-whatsapp verde"></i> 11.4872.9000</p>
            <p class="card-text"><i class="fas fa-phone-alt"></i> 0810.555.6733</p>
            <p class="card-text"><i class="fas fa-phone-alt"></i> 0810.999.6311</p>
            <p class="card-text" >LUNES A VIERNES DE 9 A 20</p>
            </div>
        </div>
    </div>
    <div class="card col-12 col-md-5 m-2 fondo">
        <div class="" >
            <div class="card-body">
            <h5 class="card-title h3 text-danger">RIESGO DE VIDA</h5>
            <p class="card-text text-center"><i class="fab fa-whatsapp verde"></i> 11.4872.8231</p>
            <p class="card-text" >Le responderemos en menos de 1 minuto</p>
            </div>
        </div>
    </div>
    <div class="card col-12 col-md-5 m-2 fondo">
        <div class="" >
            <div class="card-body">
                <h5 class="card-title h3 text-dark ">DUDAS</h5>
                <p class="card-text text-center"><i class="fab fa-whatsapp verde"></i> 11.2312.1111</p>
                <p class="card-text" >Le responderemos dentro de 24 horas</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card m-2 fondo2">
            <div class="" >
                <div class="card-body">
                    <h5 class="card-title h4 text-dark ">Nuestras sucursales permanecerán cerradas</h5>
                    <p class="card-text">Si necesitás realizar trámites durante la cuarentena, podrás continuar operando desde nuestros canales de atención digital.</p>
                    <img src="../../../assets/img/contacto.jpg" alt="imagenContacto" class="img-fluid">
                    <a href="https://play.google.com/store"><i class="fab fa-google-play"></i> Descarga nuestra app</a>
                </div>
            </div>
        </div>
    </div>
</div>
