
<div class="row">
  <section class="col-12  mb-3 mt-2">
      <img src="../../../assets/img/descarga.jpg" alt="imagen central" class="img-fluid sombra">
  </section>
</div>
  
<section class="row justify-content-center">

    <article class="col-12 col-lg-6 mb-2  ">
       <div class="card contenedor-articulo">
         <div class="row">
            <div class="col-4">
              <img src="../../../assets/img/icono3.png" alt="iconoPrimero" class="img-fluid">
            </div>
            <div class="col-8">
              <h3 class="d-inline">Descuentos en medicina</h3>
            </div>
          </div>
          <div class="card-body contenedor-articulo">
            <p class="card-text"><strong> 100% de cobertura </strong> en medicamentos para patologías oncológicas, VIH, y enfermos renales.
              70% de descuento en medicamentos destinados a patologías crónicas prevalentes (Por ejemplo, hipertensión arterial, cardiopatías, reumatismo, etc).</p>
          </div>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item contenedor-articulo"><strong> El 40% </strong> de descuento en medicamentos generales para tratamiento ambulatorio.</li>
            
            <li class="list-group-item contenedor-articulo"><strong> Tramites Online: </strong> Consulta de alta en web y muchas más soluciones simples y ágiles. </li> 
          </ul>
       </div>   
    </article>

    <article class="col-12 col-lg-6 mb-2 ">
      <div class="card contenedor-articulo">
        <div class="row">
            <div class="col-4">
              <img src="../../../assets/img/materno.png" alt="iconoSegundo" class="img-fluid">
            </div>
            <div class="col-8">
              <h3>Plan Materno Infantil</h3>
            </div>
          </div>
          <div class="card-body contenedor-articulo">
            <p class="card-text">El Plan Materno Infantil garantiza la <strong> cobertura médica total </strong>  de la madre durante el embarazo y el parto, 
              y del niño hasta el primer año de vida. Así como consultas de control y medicamentos requeridos hasta el 
              primer año de vida.      
          </div>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item contenedor-articulo"><strong> Para la madre: </strong>
              Cobertura 100% para la madre desde el embarazo y hasta el primer mes luego del nacimiento. </li>
            <li class="list-group-item contenedor-articulo"><strong> Para el niño: </strong>
              Cobertura 100% al recién nacido hasta cumplir un año de edad.</li>
          </ul>
        </div> 
    </article>
  </section>

